<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fun&ccedil;&otilde;es</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">

        <a class="navbar-brand" href="../../index.html">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Alterna navegação">
            <span class="navbar-toggler-icon">Funções</span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="#">
                    <button class="btn btn-primary" id="btn-functions-introduction">Introdu&ccedil;&atilde;o</button>
                    <div class="modal fade" id="modal-functions-introduction">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"><span>×</span></button>
                                    <h4 class="modal-title">Fundamentos JavaScript</h4>
                                </div>

                                <div class="modal-body ">
                                    <h2>introdu&ccedil;&atilde;o</h2>
                                    <img src="../../img/logo_js.svg" alt="logo do Javascript" class="img-logo" />

                                    <p>
                                        &ensp;Uma fun&ccedil;&atilde;o &eacute; um peda&ccedil;o de c&oacute;digo projetado para executar uma tarefa especifica ou ser reutilizado repetidamente. As fun&ccedil;&otilde;es ajudam a reduzir o comprimento do c&oacute;digo e a melhrar o desempenho
                                        da aplica&ccedil;&atilde;o. &eacute; poss&iacute;vel chamar fun&ccedil;&otilde;es de qualquer parte do c&oacute;digo para executar uma tarefa espec&iacute;fica.
                                    </p>
                                </div>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>

                <a class="nav-item nav-link" href="#">
                    <button class="btn btn-primary" id="btn-functions-defining-function">definindo uma fun&ccedil;&atilde;o</button>
                    <div class="modal fade" id="modal-functions-defining-function">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"><span>×</span></button>
                                    <h4 class="modal-title">Fundamentos JavaScript</h4>
                                </div>

                                <div class="modal-body ">
                                    <h2>definindo uma fun&ccedil;&atilde;o</h2>
                                    <img src="../../img/logo_js.svg" alt="logo do Javascript" class="img-logo" />

                                    <p>
                                        &ensp;A instru&ccedil;&atilde;o <code>&#39;function&#39;</code> &eacute; usada para definir uma fun&ccedil;&atilde;o, seguida por um nome para a fun&ccedil;&atilde;o, que &eacute; seguida por um conjunto de par&ecirc;nteses&#40;&#41;.
                                        Exemplo&#58;
                                    </p>

                                    <p>
                                        &ensp;Fun&ccedil;&otilde;es s&atilde;o blocos de constru&ccedil;&atilde;o fundamentais em JavaScript. Uma fun&ccedil;&atilde;o &eacute; um procedimento de JavaScript &#150; um conjunto de instru&ccedil;&otilde;es que executa uma tarefa ou calcula um valor.
                                        Para usar uma fun&ccedil;&atilde;o, voc&ecirc; deve defini-la em algum lugar no escopo do qual voc&ecirc; quiser cham&aacute;-la.
                                    </p>

                                    <div class="content">
                                        <pre>
                                            <code>
                                                <p>functionsquare&#40;numero&#41; &#123;</p>
                                                <p>return numero &#42; numero&#59;</p>
                                                <p>&#125;</p>
                                            </code>
                                        </pre>
                                    </div>

                                    <p>
                                        &ensp;A fun&ccedil;&atilde;o <code>square</code> recebe um argumento chamado numero. A fun&ccedil;&atilde;o consiste em uma instru&ccedil;&atilde;o que indica para retornar o argumento da fun&ccedil;&atilde;o &#40;isto
                                        &eacute;, numero&#41; multiplicado por si mesmo. A declara&ccedil;&atilde;o
                                        <code>return</code> &#40;retorno em ingl&ecirc;s&#41; especifica o valor retornado pela fun&ccedil;&atilde;o.
                                    </p>

                                </div>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>

                <a class="nav-item nav-link disabled" href="#">
                    <button class="btn btn-primary" id="btn-functions-calling-function">chamando uma fun&ccedil;&atilde;o</button>
                    <div class="modal fade" id="modal-functions-calling-function">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"><span>×</span></button>
                                    <h4 class="modal-title">Fundamentos JavaScript</h4>
                                </div>

                                <div class="modal-body ">
                                    <h2>chamando uma fun&ccedil;&atilde;o</h2>
                                    <img src="../../img/logo_js.svg" alt="logo do Javascript" class="img-logo" />

                                    <p>
                                        &ensp;Uma fun&ccedil;&atilde;o pode ser chamada de qualquer parte do programa para iniciar sua execu&ccedil;&atilde;o. Para chamar uma fun&ccedil;&atilde;o, especifique o nome da fun&ccedil;&atilde;o seguido por um conjunto de par&ecirc;nteses &#40;&#41;.
                                        Exemplo&#58;
                                    </p>

                                    <div class="content">
                                        <pre>
                                            <code>                               
                                                <p>function impressao&#40;&#41; &#123;</p>
                                                <p>document&#46;write&#40;&quot;Bom dia&quot;&#41;</p>
                                                <p>&#125;</p>
                                                <p>impressao&#40;&#41;&#59;</p>
                                                <p>&#47;&#47;Output&#58; Bom dia&#33;</p>        
                                            </code>
                                        </pre>
                                    </div>

                                    <p>
                                        &ensp;Aqui a fun&ccedil;&atilde;o &#39;impressao&#39; &eacute; chamada mencionando seu nome e, em seguida, por um conjunto de par&ecirc;nteses &#40;&#41;.
                                    </p>

                                </div>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>

                <a class="nav-item nav-link" href="#"><button class="btn btn-primary"
                        id="btn-functions-alert">Alertas</button>
                    <div class="modal fade" id="modal-functions-alert">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"><span>×</span></button>
                                    <h4 class="modal-title">Fundamentos JavaScript</h4>
                                </div>

                                <div class="modal-body ">                            
                                    <h2>Caixa de alerta</h2>
                                    <img src="../../img/logo_js.svg" alt="logo do Javascript" class="img-logo" />

                                    <p>
                                        &ensp;A fun&ccedil;&atilde;o <code>&#39;alert&#39;</code> pode ser usada para
                                        criar uma
                                        caixa de mensagem para notificar o usu&aacute;rio sobre um evento. Ele usa uma
                                        <span lang="en-US">string</span> ou uma var&iacute;avel
                                        de <span lang="en-US">string</span> como par&acirc;metro, que &eacute; exibida
                                        como uma
                                        mensagem dentro da caixa de alerta. Exemplo&#58;
                                    </p>

                                    <div class="content">

                                        <pre>
                                            <code>                           
                                                <p>alert &#40;&quot;Este &eacute; um alerta&#33;&quot;&#41;&#59;</p>                            
                                            </code>
                                        </pre>
                                    </div>

                                    <div id="alert"> 
                                        <button type="button" class="btn btn-primary" id="btn-alert">Click
                                            aqui para ver um
                                            alerta&#33;</button>
                                        </div>

                                </div>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>

                <a class="nav-item nav-link" href="#">
                    <button class="btn btn-primary" id="btn-functions-function-parameters">par&acirc;metro de
                        fun&ccedil;&atilde;o</button>
                    <div class="modal fade" id="modal-functions-function-parameters">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"><span>×</span></button>
                                    <h4 class="modal-title">Fundamentos JavaScript</h4>
                                </div>

                                <div class="modal-body ">
                                    <h2>par&acirc;metro de fun&ccedil;&atilde;o</h2>
                                    <img src="../../img/logo_js.svg" alt="logo do Javascript" class="img-logo" />

                                    <p>
                                        &ensp;Os valores podem ser enviados para outra fun&ccedil;&atilde;o como atributos. Estes podem ser operados pela fun&ccedil;&atilde;o. Exemplo&#58;
                                    </p>

                                    <div class="content">
                                        <pre>
                                            <code>                
                                                <p>function adicionar&#40;a, b&#41; &#123;</p>
                                                <p>document&#46;write&#40;a&#43;b&#41;</p>
                                                <p>&#125;</p>
                                                <p>adicionar&#40;2, 6&#41;&#59;</p>
                                                <p>&#47;&#47;Output&#58; 8</p>
                                            </code>
                                        </pre>
                                    </div>

                                    <p>
                                        &ensp;No exemplo acima, a fun&ccedil;&atilde;o &#39;adicionar&#39; &eacute; chamada e 2 valores s&atilde;o enviados a ela. Esses valores s&atilde;o adicionados e impressos pela fun&ccedil;&atilde;o. Uma fn&ccedil;&atilde;o pode receber qualquer n&uacute;mero
                                        de par&acirc;metros.
                                    </p>

                                </div>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>

                <a class="nav-item nav-link disabled" href="#">
                    <button class="btn btn-primary" id="btn-functions-return-declaration">par&acirc;metro de retorno</button>
                    <div class="modal fade" id="modal-functions-return-declaration">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"><span>×</span></button>
                                    <h4 class="modal-title">Fundamentos JavaScript</h4>
                                </div>

                                <div class="modal-body ">
                                    <h2>Retornando um valor de uma fun&ccedil;&atilde;o</h2>
                                    <img src="../../img/logo_js.svg" alt="logo do Javascript" class="img-logo" />

                                    <p>
                                        &ensp;Uma fun&ccedil;&atilde;o pode retornar uma valor para onde foi chamado usando a instru&ccedil;&atilde;o <code>&#39;return&#39;</code>. Exemplo&#58;
                                    </p>

                                    <div class="content">
                                        <pre>
                                            <code>                            
                                                <p>function adicionar&#40;a, b&#41; &#123;</p>
                                                <p>return a &#43; b&#59; &#125;</p>
                                                <p>&#125;</p>
                                                <p>var x &#61; adicionar &#40;1, 3&#41;&#59;</p>
                                                <p>document&#46;write&#40;x&#41;</p>                              
                                                <p>&#47;&#47;Output&#58; 4</p>
                                            </code>
                                        </pre>
                                    </div>

                                    <p>
                                        &ensp;No c&oacute;digo acima, os valores 1 e 3 s&atilde;o enviados para a fun&ccedil;&atilde;o <code>&#39;adicionar&#39;</code>. Essa fun&ccedil;&atilde;o adiciona esses 2 vaores e usa a instru&ccedil;&atilde;o
                                        <code>&#39;return&#39;</code> de volta ao local em que foi chamada. Aqui, o valor retornado &eacute; atribu&iacute;do &agrave; vari&aacute;vel x.
                                    </p>

                                </div>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>

                <a class="nav-item nav-link" href="#">
                    <button class="btn btn-primary" id="btn-functions-prompt-commands">Comandos &#40;Prompts&#41;</button>
                    <div class="modal fade" id="modal-functions-prompt-commands">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"><span>×</span></button>
                                    <h4 class="modal-title">Fundamentos JavaScript</h4>
                                </div>

                                <div class="modal-body ">
                                    <h2>Caixa prompt de entrada</h2>
                                    <img src="../../img/logo_js.svg" alt="logo do Javascript" class="img-logo" />

                                    <p>&ensp;A caixa de prompt &eacute; usada para obter uma entrada do usu&aacute;rio. Exemplo&#58;</p>

                                    <div class="content">
                                        <pre>
                                            <code>                           
                                                <p>var name &#61; prompt&#40;&quot;Digite seu nome aqui&#33;&quot;&#41;</p>                   
                                            </code>
                                        </pre>
                                    </div>

                                    <div id="box-prompt">
                                        <button type="button" class="btn btn-primary" id="btn-prompt">Aperte aqui para ver
                                            um
                                            exemplo</button>
                                    </div>

                                </div>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>

                <a class="nav-item nav-link disabled" href="#">
                    <button class="btn btn-primary" id="btn-functions-confirm-box">Caixa de confirma&ccedil;&atilde;o</button>
                    <div class="modal fade" id="modal-functions-confirm-box">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"><span>×</span></button>
                                    <h4 class="modal-title">Fundamentos JavaScript</h4>
                                </div>

                                <div class="modal-body ">
                                    <h2>Confirmar caixa</h2>
                                    <img src="../../img/logo_js.svg" alt="logo do Javascript" class="img-logo" />

                                    <p>
                                        &ensp;A caixa de confirma&ccedil;&atilde;o &eacute; usada para receber a entrada do usu&aacute;rio quando algo precisa ser confirmado ou aceito pelo usu&aacute;rio. A caixa de confirma&ccedil;&atilde;o oferece ao usu&aacute;rio duas op&ccedil;&otilde;es
                                        &#150; &#39;OK&#39; e &#39;Cancelar&#39;. A fun&ccedil;&atilde;o retornar&aacute; &#39;
                                        <code>true</code>&#39;, se o usu&aacute;rio selecionar &#39;Ok&#39;; A fun&ccedil;&atilde;o retornar&aacute; &#39;
                                        <code>false</code>&#39;, se o usu&aacute;rio selecionar &#39;Cancelar&#39;. Exemplo&#58;
                                    </p>

                                    <div class="content">
                                        <pre>
                                            <code>                              
                                                <p>var option &#61; confirm&#40;&#34;Hoje &eacute; s&aacute;bado&#63;&#34;&#41;&#59;</p>
                                                <p>if &#40;option&#61;&#61;true	&lt; &#41;&#123;</p>
                                                <p>document&#46;write&#40;&#34;Bom fim de semana&#33;&#34;&#41;&#59;</p>
                                                <p>&#125;</p>                            
                                            </code>
                                        </pre>
                                    </div>

                                    <div id="box-confirm">
                                        <button type="button" class="btn btn-primary" id="btn-confirm">Aperte aqui para ver
                                            um
                                            exemplo</button>
                                    </div>

                                </div>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>

            </div>
        </div>
    </nav>

    <img src="../../img/funcoesJs.png" alt="imagem inlustração javascript" class="img-body">

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script>
        $(function() {
            $("#btn-functions-introduction").click(function() {
                $("#modal-functions-introduction").modal();
            });
        });

        $(function() {
            $("#btn-functions-defining-function").click(function() {
                $("#modal-functions-defining-function").modal();
            });
        });

        $(function() {
            $("#btn-functions-calling-function").click(function() {
                $("#modal-functions-calling-function").modal();
            });
        });

        $(function() {
            $("#btn-functions-function-parameters").click(function() {
                $("#modal-functions-function-parameters").modal();
            });
        });

        $(function() {
            $("#btn-functions-return-declaration").click(function() {
                $("#modal-functions-return-declaration").modal();
            });
        });

        $(function() {
            $("#btn-functions-alert").click(function() {
                $("#modal-functions-alert").modal();
            });
            $(function() {
                $("#btn-alert").click(function() {
                    alert("ISSO É UM ARLETA!")
                })
            });
        });

        $(function() {
            $("#btn-functions-prompt-commands").click(function() {
                $("#modal-functions-prompt-commands").modal();
            });
            $(function() {
                $("#btn-prompt").click(function() {
                    var name = prompt("Digite seu nome aqui!");
                });
            });
        });

        $(function() {
            $("#btn-functions-confirm-box").click(function() {
                $("#modal-functions-confirm-box").modal();
            });
            $(function() {
                $('#btn-confirm').click(function() {
                    var option = confirm("Hoje é Sabado?");
                    if (option == true) {
                        document.write("Bom fim de semana!");
                    }
                });
            });
        });
    </script>
</body>

</html>