                                nav {
                                    background-color: #ccc;
                                }
                                
                                #navbarNavAltMarkup {
                                    margin-left: 7%;
                                }
                                
                                .navbar-toggler {
                                    margin-top: 1%;
                                }
                                
                                .img-body {
                                    width: 100%;
                                    height: 500px;
                                }
                                
                                .img-logo {
                                    width: 150px;
                                    height: 150px;
                                    float: left;
                                }
                                
                                .modal-body ol li {
                                    margin-top: 10%;
                                }
                                
                                @media only screen and (max-width: 320px) {
                                    #navbarNavAltMarkup {
                                        margin-left: 7%;
                                    }
                                    .navbar-toggler {
                                        width: 90%;
                                        margin-left: 4%;
                                        margin-top: 1%;
                                        border-radius: 5px;
                                    }
                                    .navbar {
                                        margin-bottom: 0;
                                    }
                                    .img-body {
                                        width: 100%;
                                        height: 500px;
                                    }
                                }
                                
                                @media only screen and (min-width: 375px) {
                                    #navbarNavAltMarkup {
                                        margin-left: 13%;
                                    }
                                    .navbar-toggler {
                                        width: 90%;
                                        margin-left: 4%;
                                        margin-top: 1%;
                                        border-radius: 5px;
                                    }
                                    .navbar {
                                        margin-bottom: 0;
                                    }
                                    .img-body {
                                        width: 100%;
                                        height: 500px;
                                    }
                                }
                                
                                @media only screen and (min-width: 425px) {
                                    #navbarNavAltMarkup {
                                        margin-left: 17%;
                                    }
                                    .navbar-toggler {
                                        width: 90%;
                                        margin-left: 4%;
                                        margin-top: 1%;
                                        border-radius: 5px;
                                    }
                                    .navbar {
                                        margin-bottom: 0;
                                    }
                                    .img-body {
                                        width: 100%;
                                        height: 500px;
                                    }
                                }
                                
                                @media only screen and (min-width: 768px) {
                                    #navbarNavAltMarkup {
                                        margin-top: 2%;
                                        margin-left: 30%;
                                    }
                                    .navbar-toggler {
                                        width: 70%;
                                        margin-left: 4%;
                                        margin-top: 3%;
                                        border-radius: 5px;
                                    }
                                    .navbar {
                                        margin-bottom: 0;
                                    }
                                    .img-body {
                                        width: 100%;
                                        height: 500px;
                                    }
                                }
                                
                                @media only screen and (min-width: 1240px) {
                                    #navbarNavAltMarkup {
                                        margin-top: 2%;
                                        margin-left: 33%;
                                    }
                                    .navbar-toggler {
                                        width: 70%;
                                        margin-left: 4%;
                                        margin-top: 3%;
                                        border-radius: 5px;
                                    }
                                    .navbar {
                                        margin-bottom: 0;
                                    }
                                    .img-body {
                                        width: 100%;
                                        height: 500px;
                                    }
                                }
                                
                                @media only screen and (min-width: 1440px) {
                                    #navbarNavAltMarkup {
                                        margin-top: 2%;
                                        margin-left: 33%;
                                    }
                                    .navbar-toggler {
                                        width: 70%;
                                        margin-left: 4%;
                                        margin-top: 3%;
                                        border-radius: 5px;
                                    }
                                    .navbar {
                                        margin-bottom: 0;
                                    }
                                    .img-body {
                                        width: 100%;
                                        height: 600px;
                                    }
                                }