<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visão Geral</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="../../index.html">Home</a>
        <button class="navbar-toggler btn btn-primary" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Alterna navegação">
          <span class="navbar-toggler-icon">visao geral</span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">

                <a class="nav-item nav-link" href="#">
                    <button class="btn btn-primary" id="btn-overview-create-code">Criando c&oacute;digo <abbr title="JavaScript">JS</abbr></button>

                    <div class="modal fade" id="modal-overview-create-code">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"><span>×</span></button>
                                    <h4 class="modal-title">Fundamentos JavaScript</h4>
                                </div>

                                <div class="modal-body ">
                                    <h2>Criando e adicionando <abbr title="JavaScript">JS</abbr> a uma P&aacute;gina da <abbr title="World Wide Web">Web</abbr></h2>
                                    <img src="../../img/logo_js.svg" alt="logo do Javascript" class="img-logo" />

                                    <p>
                                        &ensp;O c&oacute;digo JavaScript pode ser adicionado a um documento <abbr title="HyperText Markup Language">HTLM</abbr> usando a tag <code>&#60;script&#62;</code>. O c&oacute;digo <abbr title="JavaScript">JS</abbr>                                        pode ser colocado dentro da tag <code>&#60;head&#62;</code> ou <code>&#60;body&#62;</code>
                                    </p>

                                    <div class="content">
                                        <pre class="criando-codigo-js">
                                            <code>
                                                <p>&#60;html&#62;</p>
                                                <p> &#60;&#47;head&#62;</p>            
                                                <p> &#60;body&#62;</p>
                                                <p> &#60;script&#62;</p>      
                                                <p>  document&#46;write&#40;&#34;Ol&aacute; Mundo&#33;&#34;&#41;&#59;</p> 
                                                <p> &#60;&#47;script&#62;</p>
                                                <p>&#60;&#47;body&#62;</p>
                                            </code>
                                        </pre>

                                        <p>Resultado&#58; Ol&aacute; Mundo&#33;</p>
                                    </div>

                                    <p>
                                        &ensp;No c&oacute;digo acima, o c&oacute;digo <abbr title="JavaScript">JS</abbr> est&aacute; inclu&iacute;do entre a tag <code>&#60;script&#62;</code>. <br /> O m&eacute;todo <code>document&#46;write&#40;&#41;</code>                                        &eacute; usado para imprimir na tela.
                                    </p>
                                </div>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>

                <a class="nav-item nav-link" href="#">
                    <button class="btn btn-primary" id="btn-overview-external-code">Vinculando c&oacute;digo <abbr
                    title="JavaScript">JS</abbr> Externo</button>
                    <div class="modal fade" id="modal-overview-external-code">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"><span>×</span></button>
                                    <h4 class="modal-title">Fundamentos JavaScript</h4>
                                </div>

                                <div class="modal-body ">
                                    <h2>Incluindo um arquivo <abbr title="JavaScript">JS</abbr> Externo</h2>
                                    <img src="../../img/logo_js.svg" alt="logo do Javascript" class="img-logo" />

                                    <p>
                                        &ensp;Como o c&oacute;digo <abbr title="JavaScript">JS</abbr> e <abbr title="HyperText Markup Language">HTLM5</abbr> pode ficar longo e complexo, podemos dividir adicionando o c&oacute;digo JavaScript como um arquivo
                                        <code>.js</code> externo. Vamos adicionar um arquivo <code>.js</code> que comt&eacute;m o seguinte c&oacute;digo ao nosso <abbr title="HyperText Markup Language">html</abbr>&#58;<br />

                                        <code>document&#46;write&#40;&#34;Ol&aacute;  arquivo <abbr title="JavaScript">JS</abbr> externo&#33;&#34;&#41;&#59;</code>
                                    </p>

                                    <div class="content">
                                        <pre class="arquivo-externo">
                                            <code>
                                                <p>&#60;html&#62;</p>
                                                <p>&ensp;&#60;head&#62;</p>
                                                <p>&ensp;&#60;&#47;head&#62;</p>
                                                <p>&#60;body&#62;</p>
                                                <p>&ensp;&ensp;&ensp;&#60;script&#61; &#34;my&#95;javascript&#46;js&#34;&#62;</p>                        
                                                <p>&ensp;&ensp;&ensp;&ensp;&#60;&#47;script&#62;</p>
                                                <p>&ensp;&ensp;&#60;&#47;body&#62;</p>
                                            </code>
                                        </pre>
                                    </div>

                                    <p>Resultado&#58; &#40;&#34;Ol&aacute; arquivo <abbr title="JavaScript">JS</abbr> externo&#33;&#34;&#41;&#59;</p>

                                    <p>
                                        &ensp;Usamos o atributo <code>&#39;src&#39;</code> para fazer refer&ecirc;ncia a um arquivo javascrit externo, no caso do exemplo acima chamado de &#39;my&#95;javascript&#46;js&#39;. Lembre-se de incluir o arquivo
                                        na mesma pasta que o arquivo <abbr title="HyperText Markup Language">html</abbr>, para fornecer o caminho do arquivo relativo ao arquivo <abbr title="HyperText Markup Language">html</abbr>.
                                    </p>
                                </div>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>

                <a class="nav-item nav-link" href="#">
                    <button class="btn btn-primary" id="btn-overview-comment-js">Coment&aacute;rios JavaScript</button>

                    <div class="modal fade" id="modal-overview-comment-js">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"><span>×</span></button>
                                    <h4 class="modal-title">Fundamentos JavaScript</h4>
                                </div>

                                <div class="modal-body ">
                                    <h2>Fazendo um coment&aacute;rio no c&oacute;digo JavaScript</h2>
                                    <img src="../../img/logo_js.svg" alt="logo do Javascript" class="img-logo" />

                                    <p>
                                        &ensp;As linhas podem ser comentadas dentro do c&oacute;digo Javascript de duas maneiras&#58;
                                    </p>

                                    <div class="content">
                                        <pre class="comentario">                                 
                                            <code>                                     
                                                <p>&ensp;&#47;&#47;Este &eacute; um coment&aacute;rio de linha &uacute;nica</p>                                               
                                                <p>&ensp;&#47;&#42;Este &eacute; um</p>
                                                <p>coment&aacute;rio de</p>
                                                <p>varias linhas &#42;&#47;</p>
                                            </code>
                                        </pre>
                                    </div>

                                    <p>
                                        &ensp;Os coment&aacute;rios podem ser usados para melhorar a legibilidade de seu c&oacute;digo e fazer com que o navegador ignore o c&oacute;digo não utilizado.
                                    </p>
                                </div>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>

            </div>
        </div>
    </nav>

    <img src="../../img/visao_geral.jpg" alt="logo do Javascript" class="img-body">

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script>
        $(function() {
            $("#btn-overview-create-code").click(function() {
                $("#modal-overview-create-code").modal();
            });
        });

        $(function() {
            $("#btn-overview-external-code").click(function() {
                $("#modal-overview-external-code").modal();
            });
        });

        $(function() {
            $("#btn-overview-comment-js").click(function() {
                $("#modal-overview-comment-js").modal();
            });
        });
    </script>

</body>

</html>